<nav class="navbar">
  <ul class="navbar-links">
    <li><a class="navbar-link" href="{{ url_for('semesters.list_semesters') }}">Change semester</a></li>
    <li><a class="navbar-link" href="{{ url_for('subjects.manage_subjects') }}">View subjects</a></li>
    <li><a class="navbar-link" href="{{ url_for('attendance.attendance_history') }}">History</a></li>
    <li><a class="navbar-link is-logout" href="{{ url_for('auth.logout') }}">Logout</a></li>
  </ul>
  <a class="navbar-brand" href="{{ url_for('index.index_page') }}">
    <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="ClassLog logo">
    <span>ClassLog</span>
  </a>
</nav>
